---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ item.name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ item.replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ item.name }}
  template:
    metadata:
      labels:
        app: {{ item.name }}
    spec:
      containers:
        - name: {{ item.name }}
          image: "{{ acr_login_server }}/{{ item.name }}:{{ acr_image_tag }}"
          ports:
            - containerPort: {{ item.port }}
          volumeMounts:
            - name: {{ item.pv }}
              mountPath: /data
      volumes:
        - name: {{ item.pv }}
          persistentVolumeClaim:
            claimName: {{ item.pv }}
      imagePullSecrets:
        - name: acr-secret
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ item.pv }}
  namespace: {{ app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: {{ item.name }}
  namespace: {{ app_namespace }}
spec:
  type: LoadBalancer
  selector:
    app: {{ item.name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ item.port }}