apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ svc.name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ svc.replicas | default(1) }}
  selector:
    matchLabels:
      app: {{ svc.name }}
  template:
    metadata:
      labels:
        app: {{ svc.name }}
    spec:
      containers:
        - name: {{ svc.name }}
          image: {{ acr_login_server }}/{{ svc.name }}:{{ acr_image_tag }}
          ports:
            - containerPort: {{ svc.port }}
          {% if svc.pv is defined %}
          volumeMounts:
            - name: {{ svc.pv }}
              mountPath: /data
          {% endif %}
      {% if svc.pv is defined %}
      volumes:
        - name: {{ svc.pv }}
          persistentVolumeClaim:
            claimName: {{ svc.pv }}
      {% endif %}
---
{% if svc.pv is defined %}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ svc.pv }}
  namespace: {{ app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
{% endif %}
---
---
apiVersion: v1
kind: Service
metadata:
  name: {{ svc.name }}
  namespace: {{ app_namespace }}
spec:
  selector:
    app: {{ svc.name }}
  ports:
    - protocol: TCP
      port: {{ svc.port }}
      targetPort: {{ svc.port }}
