apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app.vote.name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ app.vote.replicas }}
  selector:
    matchLabels:
      app: {{ app.vote.name }}
  template:
    metadata:
      labels:
        app: {{ app.vote.name }}
    spec:
      containers:
        - name: {{ app.vote.name }}
          image: {{ acr_login_server }}/{{ app.vote.name }}:{{ acr_image_tag }}
          ports:
            - containerPort: {{ app.vote.port }}
          volumeMounts:
            - name: {{ app.vote.pv }}
              mountPath: /data
      volumes:
        - name: {{ app.vote.pv }}
          persistentVolumeClaim:
            claimName: {{ app.vote.pv }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ app.vote.pv }}
  namespace: {{ app_namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: Service
metadata:
  name: {{ app.vote.name }}
  namespace: {{ app_namespace }}
spec:
  selector:
    app: {{ app.vote.name }}
  ports:
    - protocol: TCP
      port: {{ app.vote.port }}
      targetPort: {{ app.vote.port }}
