---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ app.frontend.name }}
  namespace: {{ app_namespace }}
spec:
  replicas: {{ app.frontend.replicas }}
  selector:
    matchLabels:
      app: {{ app.frontend.name }}
  template:
    metadata:
      labels:
        app: {{ app.frontend.name }}
    spec:
      containers:
        - name: {{ app.frontend.name }}
          image: "{{ acr_login_server }}/{{ app.frontend.name }}:{{ acr_image_tag }}"
          ports:
            - containerPort: {{ app.frontend.port }}
          volumeMounts:
            - name: nginx-index-volume
              mountPath: /usr/share/nginx/html
      volumes:
        - name: nginx-index-volume
          configMap:
            name: nginx-index-html
      imagePullSecrets:
        - name: acr-secret
---
apiVersion: v1
kind: Service
metadata:
  name: {{ app.frontend.name }}
  namespace: {{ app_namespace }}
spec:
  type: LoadBalancer
  selector:
    app: {{ app.frontend.name }}
  ports:
    - protocol: TCP
      port: 80
      targetPort: {{ app.frontend.port }}