# ansib/roles/aks/templates/service_template.yml.j2
apiVersion: v1
kind: Service
metadata:
  name: "{{ item.name }}-service"
  namespace: "{{ app_namespace }}"
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: {{ item.port }}
  selector:
    app: "{{ item.name }}"