# ansible/inventory.yml.tmpl
---
all:
  vars:
    acr_login_server: "${acr_login_server}"
    acr_username: "${acr_username}"
    key_vault_url: "${key_vault_url}"
    acr_secret_name: "acr-admin-password"
    nginx_image: "${acr_login_server}/webapp:casopractico2"

vm:
  hosts:
    ${vm_ip}:
      ansible_user: ${ssh_user}
      ansible_ssh_private_key_file: private_key.pem