# ansible/inventory.tmpl---
all:
  vars:
    acr_login_server: "${acr_login_server}"
    acr_username: "${acr_username}"
    nginx_image: "${acr_login_server}/webapp:casopractico2"
    # La contraseña se gestionará con Key Vault.

vm:
  hosts:
    ${vm_ip}:
      ansible_user: ${ssh_user}
      ansible_ssh_private_key_file: private_key.pem